.activeNav{border-bottom:2px solid #fff; }
.redP{color: red;}
.border{display: inline-block;width: 20px;height: 20px;border-left: 20px solid #d1a00e;}

.banner{width: 100%;}
.banner img{width: 100%;}
.tabSwitch{width: 100%;}
.tabSwitch .module-nav-wapper{width: 100%;background: #f7372c;height: 60px;}

// border: 1px solid #fff;
.tabSwitch .module-nav-container{width: 84%;margin: 0 auto;position: relative;}

.tabSwitch .module-nav-wapper .right{display: inline-block;position:absolute;top: -8px;right: 0px;}
.tabSwitch .module-nav-wapper .rightP{display: inline-block;color: #f85929;background: #ffe512;padding: 22px;font-size: 16px;font-weight: 700;}

.tabSwitch .module-nav li{display: inline-block;margin-top: 15px;}
.tabSwitch .module-nav li:nth-child(2){margin-left: 20px;}
.tabSwitch .module-nav .link{color: #fff;font-size: 18px;display: inline-block;padding-bottom: 3px;}
.tabSwitch .switchCont{display: none;}
.tabSwitch .switchCont.active{display: block;}

.tabSwitch .module-cont-wapper{width: 100%;background: #f5f5f5;}
.tabSwitch .module-cont{background: #fff;width: 84%;margin: 20px auto; }
.tabSwitch .switchCont-item{padding:30px 0;margin: 0 30px;border-bottom: 1px solid #f5f5f5;}
.tabSwitch .switchCont-item:last-child{border: none;}
.tabSwitch .switchCont-item h3{color: red;font-size: 16px;font-weight: 700;}
.tabSwitch .switchCont-item .itemP{margin-top: 10px;color: #727272;}
.tabSwitch .switchCont-btn{width: 100%;text-align: center;padding: 20px 0 60px 0;}
.tabSwitch .switchCont-btn .btn-upload{font-size: 16px;border: none;background: red;color: #fff;padding: 10px 40px;}
.tabSwitch .switchCont-wapper2{font-size: 0;text-align: center;}
.tabSwitch .switchCont-item2{display: inline-block;text-align: left;padding:10px 0;width: 46%;margin: 0 10px;}
.tabSwitch .switchCont-title::before{content: '';display: inline-block;width: 3px;height: 18px;background: red;margin-right: 10px;vertical-align: middle;}
.tabSwitch .switchCont-title{font-size: 19px;color: #727272;letter-spacing: 1px;margin: 10px 0;}
.tabSwitch .switchCont-list{border: 1px solid #f5f5f5;}
.tabSwitch .switchCont-list li{padding: 10px 20px;font-size: 0;}
.tabSwitch .switchCont-list li span{color: #727272;font-size: 14px;display: inline-block;}
.tabSwitch .switchCont-list li:first-child{background: #eeeeee;}
.tabSwitch .switchCont-list .list-sort{display: inline-block;width: 20%;}
.tabSwitch .switchCont-list li:nth-child(-n+4) .list-sort span{background: red;}
.tabSwitch .list-sort span{width: 20px;height: 20px;background: #a0a0a0;color:#fff !important;text-align: center;}
.tabSwitch .switchCont-list .list-name{width: 60%;text-align: center;}
.tabSwitch .switchCont-list .list-nums{width: 20%;text-align: right;} 