/*tabs*/
#tabSwitch .switchCont{display: none;}
#tabSwitch .switchCont.active{display: block;}
/*tabs end*/



.heder-home .iconfont{color: #fff;font-size: 1.6rem;}
.header-title{color: #fff;display: inline-block;font-size: 1.8rem;}
.sort-box .sort-left{width: 33%;float: left;background: rgb(247, 247, 247)}
.sort-box .sort-right{width: 67%;float: right;}
.sort-box .sort-left li{font-size: 1.4rem;height: 4rem;line-height: 4rem;padding-left: 1.3rem;color: rgb(74,74,74);white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sort-box .sort-left li.active{background: #fff;border-left:.4rem solid red;padding-left:.9rem;}
.sort-rightT{border-bottom: 1px solid rgb(229, 229, 229);padding-bottom: 1rem;}
.sort-rightT span{display: inline-block;color:#000;font-size:1.5rem;padding: .8rem 0 0rem 1.5rem;}
.sort-rightT .rightT-right{float: right;margin-top: .8rem;margin-right: 1rem;}
.sort-rightT .rightT-right .iconfont{font-size: 1.5rem;color: rgb(124, 124, 124)}
.sort-right-article{padding: .5rem 1rem;}
.sort-right-article .article-item{font-size: 1.4rem;color: rgb(124, 124, 124);margin: .5rem .4rem .2rem 0;display: inline-block;padding: .6rem 1.6rem;border: 1px solid rgb(229, 229, 229);border-radius: .3rem;}
.sort-right-article .article-item.select{background-color: #ebebeb;}